.consult {
    min-height: 680px;
    padding: 100px 0 92px;
    background: url('../../img/consultation_bg.png') center (center/cover) no-repeat;
    &__header {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
        text-transform: uppercase;
    }
}